<!DOCTYPE html>
<html lang="ko">
    <head>
        <%- include ("./common/head") %>
    </head>
    <script type="text/javascript">
        var joinInfo = [];//배열선언
        var certiCategory;
        var certiSearch;
        var certiVal;
        //학과 관련
        var majorVal1;
        var majorVal2;
        var majorVal3;
        var majorInput; 
        var majorNo=1;
        //major데이터가져오기
        $(function(){
            var majorData=[];
            $.ajax({
                url:'/majorInfoGet',
                async : true,
                type: 'get',
                dataType: 'json',
                success: function(data){ 
                   var arr={};
                    for(var i=0; i<data.length;i++){
                       
                       $("#majorSel1").append(
                           '<option id='+data[i].no+'>'+ data[i].large_major+'</option>'
                       )
                       $("#majorSel2").append(
                        '<option id='+data[i].no+'>'+ data[i].medium_major+'</option>'
                       )
                       $("#majorSel3").append(
                        '<option id='+data[i].no+'>'+ data[i].small_major+'</option>'
                       )
                   }
                },
                error : function(err){
                    alert("보내기 실패"+err);
                }

            });

            
        });


        function certiInfoGet(certiCategory){
            
            $.ajax({
                url:'/certiInfoGet',
                async : true,
                type: 'get',
                data:{
                    carte:certiCategory
                },
                dataType: 'json',
                success: function(data){ 
                   var arr={};
                   $("#checkbox-content").empty();
                    for(var i=0;i<data.length;i++){
                        $("#checkbox-content").append(
                        '<li>'+
                            '<input type="checkbox" name="certi" id="'+data[0].no+'"value="'+data[i].name+'">'+
                            '<label for="certi">'+data[i].name+'</label>'+
                        '</li>'
                    );
                    }
                },
                error : function(err){
                    alert("보내기 실패"+err);
                }
            });

        };



        $(function(){
            // $("select .selectBox").on("change",function(){ 이거 왜 안되지?-?
            $(document).on("change",function(){

                certiCategory = $("#certiSel option:selected").val();//자격증 카테고리

                $(".selectBox").on("change",function(){
                //자격증 관련 

                certiCategory = $("#certiSel option:selected").val();//자격증 카테고리
                
                certiSearch = $('input#search2').val();//자격증 검색 키워드 값
                certiInfoGet(certiCategory)

                });
                if($("input:checkbox[name=certi]").is(":checked") == true) {
                    var checkNum = $('input:checkbox[name=certi]:checked').length;//체크 개수
                    if(checkNum>3){
                        alert("3개만 선택해주세요!");
                    }
                    else{
                    $("#certiSelec").empty();
                    $("#certiSelec").append("선택내용  |  ");

                    
                    $("input[name=certi]:checked").each(function() {
                        var test = $(this).val(); 
                        $("#certiSelec").append(test+' ');
                    })
                }
                }
                // if(certiCategory!="카테고리"){

                // };

                
                // console.log(certiCategory);
                




                //학과 관련
                majorVal1 = $('#majorSel1 option:selected').val();//전공 대분류
                majorVal2 = $('#majorSel2 option:selected').val();//전공 중분류
                majorVal3 = $('#majorSel3 option:selected').val();//전공 소분류(전공이름)
                majorInput = $('input#majorInput').val();//전공 직접 입력한 값


                majorNo = $('#majorSel3 option:selected').attr('id');
            
                //majorval3선택시
                if(majorVal3!="소분류"){
                    $("#majorInput").val(majorVal3); 
                }


                // console.log($("#certiSelec").text());
        });
    });
        function submit(){
            var id="<%=result.user_id%>";
            var pw="<%=result.user_pw1%>";
            var nickname="<%=result.user_nickname%>";
            var arr=[];
            $("input[name=certi]:checked").each(function() {
                        var test = $(this).val();
                        // console.log(test); 
                        arr.push(test);
                    })
                    jQuery.ajaxSettings.traditional=true;
            $.ajax({
                url:'/submit',
                async : false,
                type: 'post',
                data : {
                        "id" : id,
                        "nickname" : nickname,
                        "pw" : pw,
                        "majorNo" : majorNo,
                        "input" : majorInput,
                        "certi1":arr
                    },
                    dataType: 'json',
                    success: function(data){ //post 요청 성공시
                        console.log("보내기 성공");
                    },
                    error : function(err){
                        alert("보내기 실패"+err);
                    }
            });
            // for(var i=0;i<arr.length;i++){

                $.ajax({
                    url:'/submitCerti',
                    async : false,
                    type: 'post',
                    data : {
                        "id" : id,
                        "certi1":arr
                    },
                    dataType: 'json',
                    success: function(data){ //post 요청 성공시
                        console.log("보내기 성공");
                    },
                    error : function(err){
                        alert("보내기 실패"+err);
                    }
                });
            // }
        }
        function join(){
            submit();
            alert("회원가입 완료!");
            location.href="/";
            // 메인페이지로 이동
        }
    </script>
    <body>

        <div id="wrap">
            <!------------------- 상단 navbar ------------------->
            <header>
                <%- include ("./common/navbar") %>
            </header>

            <!------------------- 회원가입 창-(2) ------------------->

            <div id="container">
               <div class="join-wrap">
                    <div class="wrap-header">
                        <h3>회원가입</h3>
                        <p>회원가입 시 관심 시험 일정과 전공별 맞춤 자격증/시험을 확인하실 수 있습니다</p>
                    </div>
                    <div class="join-input">
                        <!-- 추가 정보 -->
                        <dl>
                            <dt>학과</dt>
                                <dd>

                                    <div>
                                        <select id="majorSel1">
                                            <option>대분류</option>
                                        </select>
                                        <select id="majorSel2">
                                            <option>중분류</option>
                                        </select>
                                        <select id="majorSel3">
                                            <option id="999">소분류</option>
                                        </select>
                                    </div>
                                    <div>
                                        <!-- majorSel3선택시 자동 input입력 -->
                                        <p>*일치하는 학과정보가 없을 시 아래에 직접 입력해주세요</p>
                                        <input type="text" id="majorInput" placeholder="학과 직접 입력">
                                    </div>
                                    
                                </dd>
                        </dl>
                            <dl>
                                <dt>자격증</dt>
                                    <dd>
                                        <div class="inner-form">
                                            <div class="searchForm">
                                                <select class="selectBox" name="selectBox" id="certiSel">
                                                    <option>카테고리</option>
                                                    <option>어학</option>
                                                    <option>기능사</option>
                                                    <option>산업기사</option>
                                                    <option>기사</option>
                                                    <option>기술사</option>
                                                </select>
                                                <input class="search" id="search2" type="text" var="d" placeholder="Enter Keywords?">
                                                <button class="btn" id="button" type="button">
                                                    <img src="src/img/search3.svg"/>
                                                </button>
                                            </div>
                                            <div class="labelForm">
                                                        <ul id="checkbox-content">

                                                        </ul>
                                                                

                                            </div>
                                            <div class="clearFloat"></div>

                                        </div>
                                    </dd>
                            </dl>
                            <dl>
                                <dt id="certiSelec" style="font-size: 16px;"></dt>
                            </dl>
                            
                            <button type="button" class="btn btn-default" onclick="join()">회원가입</button>
                    </div>

               </div>

            </div><!--//container-->

                   <!------------------- 푸터 ------------------->
                    <!-- <div class="footer">
                        <%- include ("./common/footer") %>
                    </div> -->



        </div><!--//wrap-->

       
        
    
    
    
    </body>
</html>